* {
    font-family: "Open Sans",sans-serif,arial;
}

body {
    background-color: white;
}

.banner-text {
    text-align: center;
    color: black;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 125px;
}

.question-block {
    width: 600px;
    margin: 5px auto;
    border: 1px solid #B22418;
    border-radius: 20px;
    padding: 20px;
    background-color: #F8F8F8;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.answer-block {
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.answer-option {
    flex-grow: 1;
    margin-right: auto;
}

.next-q-button {
    float: right;
    box-shadow: rgb(207, 134, 108) 0px 1px 0px 0px inset;
    background: #BA0000;
    border-radius: 3px;
    border: 1px solid rgb(148, 41, 17);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: rgb(133, 70, 41) 0px 1px 0px;
}

.back-button {
    float: left;
    box-shadow: black 0px 1px 0px 0px inset;
    background: black;
    border-radius: 3px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: black 0px 1px 0px;
}

.answer-textbox {
    width: 100%;
}

.button-row {
    position: relative;
    height: 20px;
    margin-top: 10px;
}

.central-block {
    text-align: center;
}

.gutter-bottom-30 {
    margin-bottom: 30px;
}

.gutter-bottom-10 {
    margin-bottom: 10px;
}

.font16 {
    font-size: 16px;
}

